*.class
*.log

.ensime
.ensime_cache

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.cache-main
.cache-tests
.settings
.settings/*
.project
.classpath
.cache
/bin

# Idea
.idea
.idea_modules
