h1, h2 {
 color: Navy; 
 font-size: larger;
}

img.logo {
 float:right;
 transition: transform 0.3s ease-out; 
}

img.logo:hover {
/* transform: rotate(180deg); */
}

body {
 font-family: sans-serif; 
}
